
@{
    ViewBag.Title = "Contact Pal";
    Layout = "~/Views/Shared/_Plain.cshtml";
}

<style>
    .contact-us-from-rsa {
        margin-top: 10em;
    }
</style>

<div class="text-center contact-us-from-rsa">
    <h3>There seems to be a problem with your account. Kinldy <a href="http://palsite.palpensions.com/about-us/contact-us/">contact us</a> at Pal Pensions</h3>
</div>

