
<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-4">
                <a href="https://palrsa.palpensions.com/Customer/Home"><img src="~/images/logo3.png" alt="logo"></a>
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6 top-panel-right">
                        <ul class="nav navbar-nav pull-right panel-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <div class="avatar">
                                        <img src="~/images/avatar2.jpg" class="img-rounded" alt="avatar" />
                                    </div>

                                    <i class="fa fa-angle-down pull-right"></i>
                                    <div class="user-mini pull-right">
                                        <div class="admin-name">Hello, Guest</div>
                                    </div>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="logoutmenu">
                                            <a href="../Account/Login">
                                                <i class="fa fa-user"></i>
                                                <span class="change-password">Login</span>
                                            </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>